include mixins
doctype
html( lang="en" )
    include head
    body(style="padding-bottom:10rem;")
    include nav
    .container
      block content
        .jumbotron
            h1 Recipe List - number found = #{items}
            p Here you can find some of the best recipes available today, easilly categorised based on diet, time and difficulty

        div.text-center
            +pagination(1, items/50, pageview, '/recipelist')
        table.table.table-striped
            thead
                tr
                    th Image
                    th Title
                    th Type
                    th Difficulty
                    th Diet
                    th Time
            tbody
                each recipe, i in recipelist
                    tr
                        td
                            img(src="./images/thumbs/#{recipe.Image}.jpg").img-rounded.img-responsive
                        td
                            - recipeString = recipe.RecipeID.substr(6)
                            a(href="/recipe?recipe=#{recipeString}")= recipe.Title
                        td= recipe.Type 
                        td= recipe.Difficulty
                        td= recipe.Diets
                        td= recipe.Time
        div.text-center
            +pagination(1, items/50, pageview, '/recipelist')

include footer


