include mixins
doctype
html( lang="en" )
    include head
    body(style="padding-bottom:10rem;")
    include nav
    .container
      block content
        .jumbotron.recipe-list-banner
            h1 
              span Recipe List
            p 
              span.sub-heading Here is the full list of all the recipes we currently have on the site.  You can use the filters at the top of the page or search for specific recipes.

        div.text-center
            p
                i #{items} recipes returned
            +pagination(1, items/50, pageview, '/recipelist')
        table.table.table-striped
            thead
                tr
                    th Image
                    th Title
                    th Type
                    th Difficulty
                    th Diet
                    th Time
            tbody
                each recipe, i in recipelist
                    tr
                        td
                            img(src="./images/thumbs/#{recipe.Image}.jpg").img-rounded.img-responsive
                        td
                            - recipeString = recipe.RecipeID.substr(6)
                            a(href="/recipe?recipe=#{recipeString}")= recipe.Title
                        td= recipe.Type 
                        td= recipe.Difficulty
                        td= recipe.Diets
                        td= recipe.Time
        div.text-center
            +pagination(1, items/50, pageview, '/recipelist')

include footer


