-var count = 650;
-var recordsPerPage = 50;
-var pageButtonCount = 13;
-var base_url = 'http://localhost:3000';
-var page = 1;

-var lower_limit = (parseInt((page - 1)/pageButtonCount) * pageButtonCount) + 1
-var upper_limit = lower_limit * pageButtonCount;
-var paginationNo = lower_limit - 1

if count >= recordsPerPage
    nav(aria-label='...', style='text-align: center')
        ul.pagination
            -if (lower_limit > 1)
                li.page-item
                    -var pageUrl =  base_url + "?page=" + (lower_limit - pageButtonCount); [MODIFY THIS TO SUIT YOUR USAGE]
                    a.page-link(href=pageUrl, tabindex='-1') Previous
            -else
                li.page-item.disabled
                    a.page-link(href='#', tabindex='-1') Previous
            -for (i = 1; i < pageButtonCount + 1; i++)

                -if (count > (recordsPerPage * paginationNo))
                    -paginationNo = paginationNo + 1
                    -var pageUrl =  base_url + "?count=1&page=" + paginationNo; [MODIFY THIS TO SUIT YOUR USAGE]
                        -if (page != paginationNo)
                            li.page-item
                                a.page-link(href=pageUrl) #{paginationNo}
                        -else
                            li.page-item.active
                                a.page-link(href='#')
                                    | #{paginationNo}
                                    span.sr-only (current)
            - if (count > (recordsPerPage * upper_limit))
                -var pageUrl = base_url + "?count=1&page=" + (upper_limit + 1) [MODIFY THIS TO SUIT YOUR USAGE]
                li.page-item
                    a.page-link(href=pageUrl) Next
            -else
                li.page-item.disabled
                    a.page-link(href='#', tabindex='-1') Next


