include mixins
doctype
html( lang="en" )
    include head
    body(style="padding-bottom:10rem;")
    include nav
    .container
      block content
        .jumbotron
            h1 Recipe List
            p Here you can find some of the best recipes available today, easilly categorised based on diet, time and difficulty

        table.table.table-striped
            thead
                tr
                    th Image
                    th Title
                    th Type
                    th Difficulty
                    th Diet
                    th Time
            tbody
                each recipe, i in recipelist
                    tr
                        td
                            img(src="./images/thumbs/#{recipe.Image}.jpg").img-rounded.img-responsive
                        td
                            a(href="http://www.dailydinners.co.uk/#{recipe.RecipeID}.html")= recipe.Title
                        td= recipe.Type 
                        td= recipe.Difficulty
                        td= recipe.Diets
                        td= recipe.Time
        div.text-center
            ul.pagination.pagination-lg
                li 
                    a &laquo;
                li.page-item.active 
                    a 1
                li 
                    a 2
                li 
                    a 3
                li 
                    a 4
                li 
                    a &raquo;

include footer


